<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx" style="scroll-behavior: smooth;"> <!--<![endif]-->


<head>
	<style>
		html {
		  scroll-behavior: smooth !important;
		}
		
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<title>Player Position Prediction</title>
	<meta name="description" content=">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/transitions.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/prettyPhoto.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/swiper.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/owl.theme.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/customScrollbar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/icomoon.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/color.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='/css/responsive.css') }}">
	<script src="{{ url_for('static',filename='/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<header id="tg-header" class="tg-header tg-haslayout">
		<div class="container">
					<nav id="tg-nav" class="tg-nav brand-center">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
								<i class="fa fa-bars"></i>
							</button>
							<strong class="tg-logo">
								<a href="index-2.html"><img src="{{ url_for('static',filename='/images/logo.png') }}" alt="image description"></a>
							</strong>
						</div>
						<div id="tg-navigation" class="tg-navigation" style="opacity: 100%;">
							<div class="tg-colhalf" style="background-color: rgb(55, 53, 41, .20);">
								<ul>
									<li class="active">
										<a href="#about-me">About Me</a>
									</li>
									<li>
										<a href="#predict">Predict Position</a>
									</li>
									<li>
										<a href="buyticket.html">Problem Description</a>
									</li>

								</ul>
							</div>
							<div class="tg-colhalf" style="background-color: rgb(55, 53, 41, .20);">
								<ul>
									<li>
										<a href="#">Data Preprocessing</a>
									</li>
									<li>
										<a href="#">Modeling Description</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Home Slider Start
		*************************************-->
		<div class="tg-sliderbox">
			<div class="tg-imglayer">
				<img src="{{ url_for('static',filename='/images/bg-pattran.png') }}" alt="image desctription">
			</div>
			<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="container">
							<figure class="floating">
								<img src="{{ url_for('static',filename='/images/slider/img-01.png') }}" alt="image description">
							</figure>
							<div class="tg-slider-content">
								<h1>Posi tion <span>Prediction</span></h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Home Slider End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					About Us Start
			*************************************-->
			<section class="tg-main-section tg-haslayout" id="about-me">
				<div class="container">
					<div class="tg-section-name">
						<h2>About Me</h2>
					</div>
					<div class="col-sm-11 col-xs-11 pull-right">
						<div class="row">
							<div class="tg-aboutussection">
								<div class="row">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<figure>
											<img src="{{ url_for('static',filename='/images/img-01.jpg') }}" alt="image description">
										</figure>
									</div>
									<div class="col-md-6 col-sm-12 col-xs-12">
										<div class="tg-contentbox">
											<div class="tg-section-heading"><h2>consectetur adipisicing elit sed do eiusmid tempor incididunt labore</h2></div>
											<div class="tg-description">
												<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt utia labore et dolore magna aliqua enim ad minim veniam quistrud on ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doloreeu fugiat nulla pariatur cepteur sint occaecat.</p>
											</div>
											<div class="tg-btnbox">
												<a class="tg-btn" href="#"><span>read more</span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--************************************
					About Us End
			*************************************-->
			<!--************************************
					Upcoming Match Start
			*************************************-->
			<section class=" tg-haslayout tg-bgstyleone" id="predict">
				<div>
					<br>
					<!--Form-->
					<form action = "{{url_for('predict')}}" method ="POST" >
						<fieldset>
						<legend>Player Position Prediction Form</legend><br>
						  <div class="card card-body" >
							  <div class="form-group  row">
								<label for="age">Name</label>
								<input class="form-control" id="Name" name="name" required>
								{%for i in ['Age', 'Height', 'Weight',
								'Overall', 'Potential', 'Growth', 'TotalStats',
								'BaseStats', 'ValueEUR', 'WageEUR',
								'ReleaseClause', 'ContractUntil', 'OnLoad',
								'PreferredFoot', 'IntReputation', 'WeakFoot',
								'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
								'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
								'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
								'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
								'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
								'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
								'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
								'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
								'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes']%}
								<div class="col-sm-3">
									<label for="age">{{i}}</label>
									<input id="{{i}}" name="{{i}}" required>
								</div>
								{%endfor%}
							  </div>
							  <br>
							  <div class="form-group">
								<input class="btn btn-primary" type="submit" value="Result">
							  </div>
							  
							  <!--Prediction Result-->
							  <div id ="result">
									<strong style="color:red">{{ prediction_text }}</strong>
							 </div>
							 </div>
					 </fieldset>
					</form>
		
					<table id="table" style="width: 100%; border-style: hidden; table-layout: auto !important;">
						<tr>
						  <th id="toShow" style="color: black; border-style: hidden;">Examples</th>
						  {%for i in ['Age', 'Height', 'Weight',
						  'Overall', 'Potential', 'Growth', 'TotalStats',
						  'BaseStats', 'ValueEUR', 'WageEUR',
						  'ReleaseClause', 'ContractUntil', 'OnLoad',
						  'PreferredFoot', 'IntReputation', 'WeakFoot',
						  'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
						  'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
						  'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
						  'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
						  'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
						  'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
						  'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
						  'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
						  'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes']%}
								  <th style="visibility: hidden; border-style: hidden;">{{i}}</th>
							  {%endfor%}
						  </tr>
				  
						  <tr>
							<td style="color: black; border-style: hidden;">L. Messi</td>
							{%for i in [ 0.85714286, 0.03225806, 0       , 1       , 0.33333333,
							0      , 0.88338493, 0.12280702, 0.22881356, 0.32539683,
							0.2253194 , 0       , 0        , 0        , 1        ,
							0.5       , 0.75      , 0.5       , 0.5       , 0.52941176,
							0.90625   , 0.86363636, 1       , 0      , 0.1       ,
							0.87654321, 0.95180723, 0.73076923, 0.96666667, 0.98717949,
							1       , 1        , 1       , 0.94827586, 0.98591549,
							0.81818182, 0.5625    , 0.96226415, 0.8       , 1       ,
							0.81081081, 0.37209302, 0.6031746 , 0.3902439 , 1       ,
							0.3       , 0.3625    , 0.97619048, 1     , 0.79012346,
							1     , 0.06493506, 0.30120482, 0.20253165, 0      ,
							0.07058824, 0.11363636, 0.10465116, 0.02380952]%}
								  <td style="visibility: hidden; border-style: hidden;">{{i}}</td>
							  {%endfor%}
						  </tr>
						  
						  <tr>
							<td style="color: black; border-style: hidden;">R. Lewandowski</td>
							{%for i in [0.71428571, 0.5483871 , 0.48275862, 1        , 0.33333333,
							  0        , 0.89886481, 0.22807018, 0.39830508, 0.92063492,
							  0.43524971, 0.5       , 0        , 1        , 1        ,
							  0.5       , 0.75      , 0        , 1        , 0.35294118,
							  0.96875   , 0.36363636, 0.63636364, 0.1754386 , 0.73333333,
							  0.71604938, 1        , 1        , 0.85      , 1        ,
							  0.87951807, 0.825     , 0.90243902, 0.60344828, 0.92957746,
							  0.61818182, 0.54166667, 0.69811321, 0.9       , 0.78333333,
							  0.94594595, 0.76744186, 0.6984127 , 0.85365854, 0.91139241,
							  0.82857143, 0.475     , 0.98809524, 0.74      , 0.97530864,
							  0.73333333, 0.25974026, 0.38554217, 0.13924051, 0.11111111,
							  0.01176471, 0.07954545, 0.03488372, 0.04761905]%}
								  <td style="visibility: hidden; border-style: hidden;">{{i}}</td>
							  {%endfor%}
						  </tr>
						  
						  
						  <tr>
							<td style="color: black; border-style: hidden;">K. De Bruyne</td>
							{%for i in [0.57142857, 0.41935484, 0.10344828, 1        , 0.33333333,
							  0        , 1        , 0.66666667, 0.53107345, 0.73544974,
							  0.51277584, 0.5       , 0        , 1        , 0.5       ,
							  1        , 0.75      , 0        , 0        , 0.32352941,
							  0.875     , 1        , 0.68181818, 0.52631579, 0.53333333,
							  1        , 0.89156627, 0.53846154, 1        , 0.92307692,
							  0.91566265, 0.95      , 0.87804878, 1        , 0.94366197,
							  0.61818182, 0.5       , 0.67924528, 0.7       , 0.71666667,
							  0.97297297, 0.25581395, 0.88888889, 0.53658537, 1        ,
							  0.74285714, 0.6875    , 0.91666667, 1        , 0.88888889,
							  0.76666667, 0.68831169, 0.6626506 , 0.56962025, 0.11111111,
							  0.09411765, 0        , 0.05813953, 0.08333333]%}
								  <td style="visibility: hidden; border-style: hidden;">{{i}}</td>
							  {%endfor%}
						  </tr>
				  
						  <tr>
							<td style="color: black; border-style: hidden;">M. Salah</td>
							{%for i in [0.5       , 0.22580645, 0.13793103, 0.5       , 0.16666667,
							  0        , 0.92053664, 0.45614035, 0.57627119, 0.52380952,
							  0.55574913, 0        , 0        , 0        , 0.5       ,
							  0        , 0.75      , 0        , 1        , 0.79411765,
							  0.90625   , 0.5       , 0.81818182, 0.19298246, 0.46666667,
							  0.82716049, 0.98795181, 0.58974359, 0.85      , 0.93589744,
							  0.93975904, 0.8875    , 0.70731707, 0.72413793, 0.91549296,
							  0.85454545, 0.875     , 0.94339623, 0.9       , 0.93333333,
							  0.72972973, 0.39534884, 0.87301587, 0.56097561, 0.92405063,
							  0.57142857, 0.55      , 0.96428571, 0.82      , 0.92592593,
							  0.86666667, 0.2987013 , 0.39759036, 0.41772152, 0.09876543,
							  0.10588235, 0.04545455, 0.06976744, 0.0952381 ]%}
								  <td style="visibility: hidden; border-style: hidden;">{{i}}</td>
							  {%endfor%}
						  </tr>
				  
						  <tr>
							<td style="color: black; border-style: hidden;">K. Mbappé</td>
							{%for i in [0        , 0.4516129 , 0.20689655, 1        , 1       ,
							  1        , 0.86996904, 0.43859649, 1        , 0.41798942,
							  1        , 0.25      , 0        , 1        , 0.5       ,
							  0.5       , 1        , 0        , 0.5       , 1        ,
							  0.90625   , 0.40909091, 0.90909091, 0.03508772, 0.5       ,
							  0.80246914, 0.98795181, 0.75641026, 0.86666667, 0.92307692,
							  0.97590361, 0.8375    , 0.70731707, 0.62068966, 0.95774648,
							  1        , 1        , 1        , 0.9       , 0.76666667,
							  0.86486486, 0.58139535, 0.87301587, 0.58536585, 0.88607595,
							  0.58571429, 0.3375    , 0.96428571, 0.78      , 0.85185185,
							  0.73333333, 0.14285714, 0.28915663, 0.30379747, 0.08641975,
							  0        , 0.02272727, 0.06976744, 0        ]%}
								  <td style="visibility: hidden; border-style: hidden;">{{i}}</td>
							  {%endfor%}
						  </tr>
				  
						  <tr>
							<td style="color: black; border-style: hidden;">Cristiano Ronaldo</td>
							{%for i in [1        , 0.61290323, 0.55172414, 0.5       , 0.16666667,
							  0        , 0.85139319, 0        , 0.15536723, 0.39153439,
							  0.16144019, 0        , 0        , 1        , 1        ,
							  0.5       , 1        , 0        , 0.5       , 0.52941176,
							  1        , 0.31818182, 0.59090909, 0        , 0.46666667,
							  0.82716049, 0.98795181, 0.98717949, 0.78333333, 0.96153846,
							  0.87951807, 0.85      , 0.82926829, 0.68965517, 0.91549296,
							  0.67272727, 0.70833333, 0.69811321, 1        , 0.53333333,
							  1        , 1        , 0.6984127 , 0.6097561 , 0.98734177,
							  0.57142857, 0.225     , 1        , 0.64      , 0.97530864,
							  0.96666667, 0.11688312, 0.26506024, 0.20253165, 0.01234568,
							  0.07058824, 0.11363636, 0.10465116, 0.05952381]%}
								  <td style="visibility: hidden; border-style: hidden;">{{i}}</td>
							  {%endfor%}
						  </tr>
					  </table>
					
				</div>
			</section>
			
		</main>
		<!--************************************
				Main End
		*************************************-->
	</div>
	
	
	<!--<script src="{{ url_for('static',filename='/js/vendor/jquery-library.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/vendor/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/customScrollbar.min.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/owl.carousel.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/isotope.pkgd.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/prettyPhoto.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/swiper.min.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/jquery-ui.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/countTo.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/appear.js') }}"></script>
	<script src="{{ url_for('static',filename='/js/main.js') }}"></script>-->
	<script>
		var table = document.getElementById("table"), rIndex;
	
		for(var i = 0; i < table.rows.length; i++){
		  table.rows[i].onclick = function(){
			rIndex = this.rowIndex;
			features = ['Name', 'Age', 'Height', 'Weight',
			'Overall', 'Potential', 'Growth', 'TotalStats',
			'BaseStats', 'ValueEUR', 'WageEUR',
			'ReleaseClause', 'ContractUntil', 'OnLoad',
			'PreferredFoot', 'IntReputation', 'WeakFoot',
			'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
			'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
			'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
			'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
			'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
			'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
			'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
			'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
			'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes']
			
			for(var i = 0; i < features.length; i++){
			  //print(features.length)
			  document.getElementById(`${features[i]}`).value = this.cells[i].innerHTML
			}
		  }
		}
	 </script>
</body>


</html>